.errorP {
  margin-top: 0.75rem;
  color: var(--colors-orange-500);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.errorP img {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
  filter: brightness(0) saturate(100%) invert(67%) sepia(72%) saturate(2514%)
    hue-rotate(319deg) brightness(100%) contrast(93%);
}
